@model CardAuction.Models.tAuctionItem
@{
    ViewBag.Title = "競標商品";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string filepath0 = Model.fPhoto0;
    string filepath1 = Model.fPhoto1;
    string filepath2 = Model.fPhoto2;
    string filepath3 = Model.fPhoto3;
    int leastBid = Model.fMoneyNow + Model.fMoneyStep;
    int secondTotalRemain = Convert.ToInt32((Model.fEndTime - DateTime.Now).TotalSeconds);
    int secondRemain = secondTotalRemain;
    int dayRemain = secondRemain / 86400;
    secondRemain %= 86400;
    int hourRemain = secondRemain / 3600;
    secondRemain %= 3600;
    int minuteRemain = secondRemain / 60;

}

@section styles{
    <link rel="stylesheet" href="~/Content/Bootstrap/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/AuctionCss/cssAuctionItem.css" type="text/css" />
}
<div id="divMainContent">
    <div id="divSort">
        競標 / @Model.fSort
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-9" id="divItemName">
            @Model.fItemName
        </div>
        <div class="col-sm-12 col-md-3" id="divFollow">
            <div class="row justify-content-between">
                <div class="col-3 col-sm-3 col-md-6">
                    <a href=""><img src="~/Images/site/iconFavorite.png" class="imgFollow" /></a>
                </div>
                <div class="col-3 col-sm-3 col-md-6">
                    <a href=""><img src="~/Images/site/iconComment.png" class="imgFollow" /></a>
                </div>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6" id="divPhoto">
            <div>
                <img src="~/Images/AuctionItemImages/@filepath0" id="imgShow" /><br />
            </div>
            <div id="divSmallList">
                <img src="~/Images/AuctionItemImages/@filepath0" class="imgSmall" id="imgSmall0" />
                <img src="~/Images/AuctionItemImages/@filepath1" class="imgSmall" id="imgSmall1" />
                <img src="~/Images/AuctionItemImages/@filepath2" class="imgSmall" id="imgSmall2" />
                <img src="~/Images/AuctionItemImages/@filepath3" class="imgSmall" id="imgSmall3" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6" id="divBidInfo">
            <div id="divTime">
                <div id="divClock">
                    <img src="~/Images/site/iconClock.png" id="imgClock" />
                </div>
                 <div id="divStamp">
                     <span id="stampTime">@dayRemain 天 @hourRemain 時 @minuteRemain 分 結束</span>
                 </div>
                 <div id="divCalender">
                     加入行事曆
                 </div>
            </div>
            <div id="divMoney">
                @if (Model.fBuyPrice > -1)
                {
                    <div class="row" id="divBuy">
                        <div class="col-3 titleMoney">
                            直購價
                        </div>
                        <div class="col-6" id="stampMoneyBuy">
                            $ @Model.fBuyPrice 元
                        </div>
                        <div class="col-3" id="divBtnBuy">
                            <button id="btnBuy">購買</button>
                        </div>
                    </div>
                }
                <div class="row" id="divMoneyNow">
                    <div class="col-3 titleMoney">
                        目前出價
                    </div>
                    <div class="col-3">
                        <span id="stampMoneyNow">$ @Model.fMoneyNow 元</span>
                    </div>
                    <div class="col-3 titleMoney">
                        出價增額
                    </div>
                    <div class="col-3">
                        <span id="stampMoneyStep">$ @Model.fMoneyStep 元</span>
                    </div>
                </div>
                <div class="row" id="divBid">
                    <div class="col-9" id="titleTextBox">
                        <input type="number" placeholder="請輸入出價上限" id="txtBid" step="@Model.fMoneyStep" min="@leastBid" />
                    </div>
                    <div class="col-3">
                        <button id="btnBid">出價</button>
                    </div>
                </div>
            </div>

            <div class="row" id="divHistory">
                <div class="row historyRecord">
                    <div class="col-4 historyAccount">
                        出價者
                    </div>
                    <div class="col-6 historyTime">
                        時間
                    </div>
                    <div class="col-2 historyMoney">
                        出價
                    </div>
                </div>
                <div class="row historyRecord">
                    <div class="col-4 historyAccount">
                        abcd123
                    </div>
                    <div class="col-6 historyTime">
                        2022/03/13 21:32:45
                    </div>
                    <div class="col-2 historyMoney">
                        $ 120
                    </div>
                </div>
                <div class="row historyRecord">
                    <div class="col-4 historyAccount">
                        samplebid8675
                    </div>
                    <div class="col-6 historyTime">
                        2022/03/13 14:19:07
                    </div>
                    <div class="col-2 historyMoney">
                        $ 70
                    </div>
                </div>
                <div class="row historyRecord">
                    <div class="col-4 historyAccount">
                        abcd123
                    </div>
                    <div class="col-6 historyTime">
                        2022/03/12 23:34:18
                    </div>
                    <div class="col-2 historyMoney">
                        $ 50
                    </div>
                </div>
            </div>
        </div>


        <div class="row" id="divDescription">
            <div class="col-6 col-sm-5 col-md-3 titleTopic">
                商品說明
            </div>
            <div id="divDescriptContent">
                <div>鑑定公司： @Model.fGrading</div>
                <div>
                    @Model.fItemDescription
                </div>
            </div>
        </div>

        <div class="row" id="divComment">
            <div class="col-6 col-sm-5 col-md-3 titleTopic">
                留言
            </div>
            <div id="divCommentContent">

            </div>
            <div id="inputSend">
                <div class="row commentRecord">
                    <div class="col-sm-4 col-md-2 commentAccount">
                        samplebid8675
                    </div>
                    <div class="col-sm-8 col-md-10 commentContent">
                        好
                    </div>
                </div>
                <hr />
                <div class="row commentRecord">
                    <div class="col-sm-4 col-md-2 commentAccount">
                        abcd123
                    </div>
                    <div class="col-sm-8 col-md-10 commentContent">
                        想要這張想要這張想要這張想要這張想要這張想要這張想要這張想要這張想要這張
                    </div>
                </div>
                <div class="row commentRecord">
                    <div class="col-sm-9 col-md-10">
                        <input type="text" id="txtComment" />
                    </div>
                    <div class="col-sm-3 col-md-2">
                        <button id="btnCommentSend">留言</button>
                    </div>
                </div>
                
                
            </div>
        </div>

        <div class="row" id="divHistory">
            <div class="col-6 col-sm-5 col-md-3 titleTopic">
                歷史成交統計
            </div>
            <div id="divHistoryContent">
                <br /><br /><br /><br />
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        console.log(@secondTotalRemain);
        var secondRemain = @secondTotalRemain
        window.setInterval(function () {
            secondRemain--;
            console.log(secondRemain);
        }, 1000);

        document.querySelector('')
    </script>
}