@model CardAuction.ViewModels.VMAuctionResult
@using CardAuction.Models
@using CardAuction.ViewModels
@{
    ViewBag.Title = "競標結果";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link rel="stylesheet" href="~/Content/AuctionCss/cssAuctionResult.css" type="text/css" />
}

<div id="divResult">

    <div id="postPicture">
        <div class="divTitle">競標商品照片</div>
        <div class="img-zone">
            @if (!string.IsNullOrEmpty(Model.result.fPhoto0))
            {
                <div class="divContent"><img src="~/images/AuctionItemImages/@Model.result.fPhoto0" /></div>
            }
            @if (!string.IsNullOrEmpty(Model.result.fPhoto1))
            {
                <div class="divContent"><img src="~/images/AuctionItemImages/@Model.result.fPhoto1" /></div>
            }
            @if (!string.IsNullOrEmpty(Model.result.fPhoto2))
            {
                <div class="divContent"><img src="~/images/AuctionItemImages/@Model.result.fPhoto2" /></div>
            }
            @if (!string.IsNullOrEmpty(Model.result.fPhoto3))
            {
                <div class="divContent"><img src="~/images/AuctionItemImages/@Model.result.fPhoto3" /></div>
            }
        </div>
    </div>

    <div id="postUser">
        <div class="divTitle">競標商品上架者</div>
        <div class="divContent">@Model.postUserAccount</div>
    </div>
    @if (Model.result.fBidCount == 0)
    {
        <div id="winUser">
            <div class="divTitle">競標商品得標者</div>
            <div class="divContent">無</div>
        </div>
        <div id="winMoney">
            <div class="divTitle">得標價</div>
            <div class="divContent">無</div>
        </div>
        <div id="totalMoney">
            <div class="divTitle">含運費總價</div>
            <div class="divContent">無</div>
        </div>
        <div id="bidCount">
            <div class="divTitle">出價次數</div>
            <div class="divContent">0 次</div>
        </div>
        <div id="winTime">
            <div class="divTitle">結束時間</div>
            <div class="divContent">@Model.result.fWinTime</div>
        </div>
        <div id="deliveryInfo">
            <div class="divTitle">運送資訊</div>
            <div class="divContent">流標</div>
        </div>

    }
    else
    {
        <div id="winUser">
            <div class="divTitle">競標商品得標者</div>
            <div class="divContent">@Model.winUserAccount</div>
        </div>
        <div id="winMoney">
            <div class="divTitle">得標價</div>
            <div class="divContent">$ @Model.result.fBidMoney 元</div>
        </div>
        <div id="totalMoney">
            <div class="divTitle">含運費總價</div>
            <div class="divContent">$ @Model.result.fTotalMoney 元</div>
        </div>
        <div id="bidCount">
            <div class="divTitle">出價次數</div>
            <div class="divContent">@Model.result.fBidCount 次</div>
        </div>
        <div id="winTime">
            <div class="divTitle">得標時間</div>
            <div class="divContent">@Model.result.fWinTime</div>
        </div>
        <div id="deliveryInfo">
            <div class="divTitle">運送資訊</div>
            <div class="divContent">@Model.result.fDeliveryInfo</div>
        </div>
    }


    <div id="historyRecord">
        <div class="divTitle">出價紀錄</div>
        <div class="historyHeader">
            @foreach (BidDetail bid in Model.history)
            {
                <div class="infotatal">
                    <div class="info">
                        帳號: @bid.bidAccount
                    </div>
                    <div class="info1">
                        出價: @bid.bidMoney 元
                    </div>
                    <div class="info2">
                        時間: @bid.bidTime.ToString()
                    </div>
                </div>
            }
        </div>
    </div>

</div>

