
@{
    ViewBag.Title = "首頁";
}
@section styles{
    <link rel="stylesheet" href="~/Content/HomeCss/cssHomeIndex.css" type="text/css" />
}

<div id="carouselArea">
    <img src="~/Images/User/Index/SlideShowAD/1.png" id="imgAd0" />
    <img src="~/Images/User/Index/SlideShowAD/2.png" id="imgAd1" hidden />
    <img src="~/Images/User/Index/SlideShowAD/3.png" id="imgAd2" hidden />
    <img src="~/Images/User/Index/SlideShowAD/4.png" id="imgAd3" hidden />
    <img src="~/Images/User/Index/SlideShowAD/5.png" id="imgAd4" hidden />

    <div id="divLeft">
        <a href="" id="arrowLinkLeft">
            <i class="fa-solid fa-circle-chevron-left"></i>
        </a>
    </div>
    <div id="divRight">
        <a href="" id="arrowLinkRight">
            <i class="fa-solid fa-circle-chevron-right"></i>
        </a>
    </div>
    <div id="divCurrent">
        <a href="" id="dotLink0"><i id="dot0" class="fa-solid fa-circle-dot"></i></a>
        <a href="" id="dotLink1"><i id="dot1" class="fa-solid fa-circle"></i></a>
        <a href="" id="dotLink2"><i id="dot2" class="fa-solid fa-circle"></i></a>
        <a href="" id="dotLink3"><i id="dot3" class="fa-solid fa-circle"></i></a>
        <a href="" id="dotLink4"><i id="dot4" class="fa-solid fa-circle"></i></a>
    </div>
</div>
<div class="cardList">
    <div class="divLabel">
        <div class="newest">
            最新競標商品
        </div>
        <div class="findall">
            <a href="~/Auction/List">查看全部<i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <div class="row" id="auctionRow"><!--here--></div>
</div>
<div class="cardList">
    <div class="divLabel">
        <div class="newest">
            最新交換商品
        </div>
        <div class="findall">
            <a href="~/Exchange/List">查看全部<i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
    <div class="row" id="exchangeRow"><!--here--></div>
</div>

@section scripts{
    <script>
        var img0 = document.getElementById('imgAd0'); var dot0 = document.getElementById('dot0');
        var img1 = document.getElementById('imgAd1'); var dot1 = document.getElementById('dot1');
        var img2 = document.getElementById('imgAd2'); var dot2 = document.getElementById('dot2');
        var img3 = document.getElementById('imgAd3'); var dot3 = document.getElementById('dot3');
        var img4 = document.getElementById('imgAd4'); var dot4 = document.getElementById('dot4');
        var imgList = [img0, img1, img2, img3, img4];
        var dotList = [dot0, dot1, dot2, dot3, dot4];
        var arrowLeft = document.getElementById('arrowLinkLeft');
        var arrowRight = document.getElementById('arrowLinkRight');
        var arrowList = [arrowLeft, arrowRight];
        var imgNow = 0;
        var carouselAuto = window.setInterval(() => arrowRight.click(), 3000);      // 3秒換一張圖
        var auctionRow = document.getElementById('auctionRow');
        var exchangeRow = document.getElementById('exchangeRow');

        document.querySelectorAll('[id^="dotLink"]').forEach(dom => {
            dom.addEventListener('click', event => {
                event.preventDefault();
                imgNow = parseInt(dom.id.slice(-1));
                carouselJump(imgNow);
            });
            dom.addEventListener('mouseover', () => window.clearInterval(carouselAuto));
            dom.addEventListener('mouseout', () => carouselAuto = window.setInterval(() => arrowRight.click(), 3000));
        });

        arrowList.forEach(dom => {
            dom.addEventListener('mouseover', () => window.clearInterval(carouselAuto));
            dom.addEventListener('mouseout', () => carouselAuto = window.setInterval(() => arrowRight.click(), 3000));
        });

        arrowLeft.addEventListener('click', event => {
            event.preventDefault();
            imgNow = imgNow == 0 ? 4 : imgNow - 1;
            carouselJump(imgNow);
        });

        arrowRight.addEventListener('click', event => {
            event.preventDefault();
            imgNow = imgNow == 4 ? 0 : imgNow + 1;
            carouselJump(imgNow);
        });

        fetch('@Url.Content("~/Home/QueryNewest")', { method: 'GET' })
            .then(response => response.json())
            .then(datas => generateNewestItem(datas))
            .catch(reject=> console.log(reject));

        function generateNewestItem(datas) {
            let auctionItems = datas.newestAuctionItem;


            auctionRow.innerHTML = '';

            let docFrag = document.createDocumentFragment();

            for (let item of auctionItems) {
                let secondRemain = Math.floor((new Date(parseInt(item.fEndTime.substr(6))) - new Date()) / 1000);
                let dayRemain = Math.floor(secondRemain / 86400);
                secondRemain %= 86400;
                let hourRemain = Math.floor(secondRemain / 3600);
                secondRemain %= 3600;
                let minuteRemain = Math.floor(secondRemain / 60);

                let domDiv = document.createElement('div');
                domDiv.className = 'col-xs-12 col-sm-6 col-md-4 col-lg-3';
                let domBorder = document.createElement('div');
                domBorder.className = 'cardBorder';
                let domA = document.createElement('a');
                domA.href = '@Url.Content("~/Auction/Item/")' + item.fItemId;
                let domImgWrap = document.createElement('div');
                domImgWrap.className = 'imgWrap';
                let domImg = document.createElement('img');
                domImg.src = '@Url.Content("~/Images/AuctionItemImages/")' + item.fPhoto;
                domImg.className = 'cardImg';
                domImgWrap.appendChild(domImg);
                let domCardBody = document.createElement('div');
                domCardBody.className = 'cardBody';
                let domPname = document.createElement('p');
                domPname.className = 'pName';
                domPname.textContent = item.fItemName;
                domCardBody.appendChild(domPname);
                let domPmoney = document.createElement('p');
                domPmoney.className = 'pMoney';
                domPmoney.textContent = `$ ${item.fMoneyNow} 元`;
                domCardBody.appendChild(domPmoney);
                let domPcount = document.createElement('p');
                domPcount.className = 'pCount';
                domPcount.textContent = `${item.fBidCount}次出價`;
                domCardBody.appendChild(domPcount);
                let domPtime = document.createElement('p');
                domPtime.className = 'pTime';
                let domI = document.createElement('i');
                domI.className = 'fa-solid fa-clock';
                domPtime.textContent = `  ${dayRemain} 天 ${hourRemain} 時 ${minuteRemain} 分`;
                domPtime.prepend(domI);
                domCardBody.appendChild(domPtime);
                domA.appendChild(domImgWrap);
                domA.appendChild(domCardBody);
                domBorder.appendChild(domA);
                domDiv.appendChild(domBorder);
                docFrag.appendChild(domDiv);
            }
            auctionRow.appendChild(docFrag);


            let exchangeItems = datas.newestExchangeItem;
            exchangeRow.innerHTML = '';

            docFrag = document.createDocumentFragment();

            for (let item of exchangeItems) {
                let secondRemain = Math.floor((new Date(parseInt(item.fEndTime.substr(6))) - new Date()) / 1000);
                let dayRemain = Math.floor(secondRemain / 86400);
                secondRemain %= 86400;
                let hourRemain = Math.floor(secondRemain / 3600);
                secondRemain %= 3600;
                let minuteRemain = Math.floor(secondRemain / 60);

                let domDiv = document.createElement('div');
                domDiv.className = 'col-xs-12 col-sm-6 col-md-4 col-lg-3';
                let domBorder = document.createElement('div');
                domBorder.className = 'cardBorder';
                let domA = document.createElement('a');
                domA.href = '@Url.Content("~/Exchange/Item/")' + item.fItemId;
                let domImgWrap = document.createElement('div');
                domImgWrap.className = 'imgWrap';
                let domImg = document.createElement('img');
                domImg.src = '@Url.Content("~/Images/ExchangeItemImages/")' + item.fPhoto;
                domImg.className = 'cardImg';
                domImgWrap.appendChild(domImg);
                let domCardBody = document.createElement('div');
                domCardBody.className = 'cardBody';
                let domPname = document.createElement('p');
                domPname.className = 'pName';
                domPname.textContent = item.fItemName;
                domCardBody.appendChild(domPname);
                let domPcount = document.createElement('p');
                domPcount.className = 'pCount';
                domPcount.textContent = `${item.fChangeCount}人交換`;
                domCardBody.appendChild(domPcount);
                let domPtime = document.createElement('p');
                domPtime.className = 'pTime';
                let domI = document.createElement('i');
                domI.className = 'fa-solid fa-clock';
                domPtime.textContent = `  ${dayRemain} 天 ${hourRemain} 時 ${minuteRemain} 分`;
                domPtime.prepend(domI);
                domCardBody.appendChild(domPtime);
                domA.appendChild(domImgWrap);
                domA.appendChild(domCardBody);
                domBorder.appendChild(domA);
                domDiv.appendChild(domBorder);
                docFrag.appendChild(domDiv);
            }
            exchangeRow.appendChild(docFrag);

            addHoverCard();
        }
        function addHoverCard() {
            document.querySelectorAll('.cardBorder').forEach(dom => {
                dom.addEventListener('mouseover', () => dom.classList.add('cardSelect'));
                dom.addEventListener('mouseout', () => dom.classList.remove('cardSelect'));
            });
        }

        function carouselJump(n) {
            imgList.forEach(d => d.hidden = true);
            imgList[n].hidden = false;
            let toDot = dotList[n];
            dotList.forEach(dom => {
                dom.classList.remove('fa-circle-dot');
                dom.classList.add('fa-circle');
            });
            toDot.classList.remove('fa-circle');
            toDot.classList.add('fa-circle-dot');
        }
    </script>
}

