@using CardAuction.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/LayoutCss/cssUserLayout.css" type="text/css" />
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    @RenderSection("styles", required: false)
</head>
<body>
    <div id="fullPage">
        <div id="header">
            @{
                var userAcc = Session[CDictionary.SK_UserAccount];
                if (userAcc == null)
                {
                    @Html.ActionLink("登入", "Login", "Member")
                }
                else
                {
                    @Html.ActionLink(userAcc.ToString(), "Index", "Member")
                }
            }
            @Html.ActionLink("關於我們", "About")
            @Html.ActionLink("使用說明", "Information")
            @Html.ActionLink("聯絡我們", "Contact")
        </div>
        <div id="nav" class="row">
            <div id="catalog1" class="col-12 col-sm-12 col-md-4">
                <div class="row justify-content-around">
                    <div class="col-6 col-sm-6 col-md-3"><a href="~/"><img src="~/images/site/iconWebsite.png" id="webIcon" /></a></div>
                    <div class="col-2 col-sm-2 col-md-3">@Html.ActionLink("購買", "List", "Auction")</div>
                    <div class="col-2 col-sm-2 col-md-3">@Html.ActionLink("出售", "Post", "Auction")</div>
                    <div class="col-2 col-sm-2 col-md-3">@Html.ActionLink("交換", "Index", "Exchange")</div>

                </div>
            </div>
            <div id="catalog2" class="col-12 col-sm-12 col-md-4">
                <div class="row justify-content-around">
                    <div class="col-2"><a href="cataPokemon.html"><img src="~/Images/site/iconPokemon.png" /></a></div>
                    <div class="col-2"><a href="cataYuGiOh.html"><img src="~/Images/site/iconYuGiOh.png" /></a></div>
                    <div class="col-2"><a href="cataMTG.html"><img src="~/Images/site/iconMTG.png" /></a></div>
                    <div class="col-2"><a href="cataNBA.html"><img src="~/Images/site/iconNBA.png" /></a></div>
                    <div class="col-2"><a href="cataMLB.html"><img src="~/Images/site/iconMLB.png" /></a></div>
                </div>
            </div>
            <div id="search" class="col-sm-12 col-md-4">
                <div class="row">
                    <div class="col-10" id="divSearch">
                        <input type="search" id="txtSearch" placeholder="    搜尋品牌、價格、等" />
                        <img src="~/images/site/iconMagnifier.png" id="iconMag" />
                    </div>
                    <div class="col-2"><img src="~/Images/site/iconCart.jpg" id="imgCart" /></div>
                </div>
            </div>
        </div>

        @RenderBody()

        <div id="footer">

        </div>

    </div>
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false);
</body>
</html>